.hero-section{
    gap: 78px;
    position: relative;
    /* block-size: 100vh; */
    background-color: var(--off-black);
    background-color: rgba(0, 0, 0, 0.25);
}


/* ---------------- heading block styles ---------------- */
.heading-cta__block{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 44px;
}


.heading-block{
    inline-size: 100%;
    display: flex;
    align-items: start;
    justify-content: center;
    text-align: center;
    padding-inline: var(--padding-clamp32to16);
}

.heading-wrapper{
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.hero-heading{
    font-size: var(--font-size-72);
    font-size: var(--font-clamp72to44);
    font-weight: 700;
    letter-spacing: var(--heading-kern);
    line-height: 1;
    color: var(--text-sec);
}

.hero-sub-heading{
    font-size: var(--font-size-18);
    font-weight: 600;
    color: var(--text-sec-lighter);
}


/* ---------------- form block styles ---------------- */
.cta-block{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    padding-inline: var(--padding-clamp32to16);
}

.form-wrapper{
    /* position: relative; */
    inline-size: 100%;
    max-inline-size: 440px;
    background-color: var(--text-sec-xtralight);
    border: 1px solid var(--text-sec-lighter);
    border-radius: var(--border-clamp100to20);
    padding: 8px;
    transition: border-color 0.25s ease-in;
}

.email-form{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: transparent;
}

.cta-button{
    flex-shrink: 0;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: var(--accent-color);
    color: var(--off-white);
    border-radius: var(--border-clamp100to12);
    font-size: var(--font-clamp16to14);
    font-weight: 600;
    block-size: 56px;
    inline-size: 160px;
    overflow: hidden;
}

.cta-button:hover .content{
    transform: translateY(-52px);
}

.cta-form{
    border: transparent;
    padding-inline-start: 24px;
    outline: none;
    block-size: 56px;
    inline-size: 100%;
    background: transparent;
    color: var(--off-white);
}

.cta-form::placeholder{
    font-family: inherit;
    font-size: var(--font-size-sm);
    color: var(--text-sec);
}

.form-wrapper:has(.cta-form:focus-within){
    border-color: var(--accent-color);
}

.cta-proof{
    color: var(--text-sec-lighter);
    max-inline-size: 500px;
    /* font-size: var(--font-size-sm); */
}

.cta-proof__content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
    /* gap: 8px; */
}

.cta-proof__imgs{
    display: inline-flex;
    block-size: 20px;
    inline-size: auto;
    /* background: red; */
    padding-inline-start: 16px;
}

.cta-proof__img{
    --size: 20px;
    display: inline-block;
    block-size: var(--size);
    inline-size: var(--size);
    border: 2px solid var(--text-sec-lighter);
    border-radius: 50%;
    background-color: var(--text-sec-xtralight);
}

.cta-proof__img:nth-child(2){
    transform: translateX(-8px);
}

.cta-proof__img:nth-child(3){
    transform: translateX(-16px);
}

@media screen and (max-width: 472px){
    .email-form{
        flex-direction: column;
    }

    .cta-button{
        inline-size: 100%;
    }

    .nav-signup{
        display: none;
    }
}


/* hero canvas styles */
.hcanvas{
    position: absolute;
    display: block;
    z-index: -1;
    inline-size: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
    background-color: var(--off-black);
}



/* hero Image styles */
.hero-image__block{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 56px;
    padding-inline: var(--padding-clamp32to16);
}

.hero-image__wrapper{
    inline-size: 100%;
    max-inline-size: 1120px;
    /* background-color: red; */
    border: 2px solid green;
    border-radius: 20px;
    overflow: hidden;
}

.hero-image{
    display: block;
    inline-size: 100%;
    block-size: auto;
}


/* hero social proof styles */
.trustlabel p{
    color: var(--off-white);
}


.hero-socialproof{
    display: flex;
    flex-direction: column;
    align-items: center;
    inline-size: 100%;
    gap: 12px;
}

.hero-logos__block{
    inline-size: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logos-container{
    block-size: 36px;
    inline-size: 100%;
    max-inline-size: 1120px;
    position: relative;
    overflow: hidden;
}

@keyframes scrollLogo {
    0% {
        transform: translateX(1120px);
    }
    100% {
        transform: translateX(-180px);
    }
}

.logo-wrapper{
    position: absolute;
    block-size: 36px;
    inline-size: 180px;
    display: grid;
    place-content: center;
    will-change: transform;
    animation: scrollLogo 8s linear infinite;
}

.logo-wrapper p{
    color: var(--text-sec-lighter);
    font-size: 20px;
    font-weight: bold;
}

.logo-wrapper:nth-child(1) {
    animation-delay: 0s;
}

.logo-wrapper:nth-child(2) {
    animation-delay: -1.33s;
}

.logo-wrapper:nth-child(3) {
    animation-delay: -2.66s;
}

.logo-wrapper:nth-child(4) {
    animation-delay: -4s;
}

.logo-wrapper:nth-child(5) {
    animation-delay: -5.33s;
}

.logo-wrapper:nth-child(6) {
    animation-delay: -6.66s;
}
