.painpoints-section {
    gap: 72px;
    padding-inline: var(--padding-clamp32to16);
    /* background-color: rgb(224, 224, 224); */
}

.section-body {
    inline-size: 100%;
    display: flex;
    flex-direction: column;
    gap: 56px;
}

.pain-card__cntnr {
    inline-size: 100%;
    max-inline-size: 1120px;
    text-align: left;
    border-radius: 24px;
}

/* --------------- pain slider styles --------------- */
.pain-sliders__block {
    display: flex;
    flex-direction: column;
    align-items: center;
    inline-size: 100%;
    max-inline-size: 1120px;
    gap: 12px;
}

.pain-sliders__intro {
    font-size: var(--font-size-18);
    font-weight: 500;
    color: var(--text-sec);
    text-align: center;
}

.pain-sliders__cntnr {
    inline-size: 100%;
    position: relative;

}

.pain-sliders__wrapper {
    display: flex;
    flex-direction: column;
    gap: 4px;
    overflow: hidden;
    mask-image: linear-gradient(to right, transparent, black 15%, black 85%, transparent);
    -webkit-mask-image: linear-gradient(to right, transparent, black 15%, black 85%, transparent);
}

.pain-slider {
    inline-size: 100%;
    block-size: 56px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    /* overflow: hidden; */
    will-change: transform;
}

.pain-slider__card {
    flex-shrink: 0;
    display: inline-flex;
    background-color: var(--off-white);
    inline-size: 260px;
    inline-size: var(--width-clamp260to180);
    block-size: 100%;
    align-items: center;
    justify-content: center;
    padding-inline: 24px;
    border-radius: 8px;
    border: 1px solid var(--text-sec);
    color: var(--text-sec-light);
    font-size: var(--font-clamp16to14);
}

.pain-point {
    font-size: var(--font-clamp48to32);
    color: var(--off-black);
    line-height: 1.2;
    letter-spacing: var(--heading-kern2);
}

.pain-point span {
    color: var(--text-sec-light);
}