.painpoints-section {
    gap: 72px;
    /* background-color: rgb(224, 224, 224); */
}

.section-body {
    inline-size: 100%;
    display: flex;
    flex-direction: column;
    gap: 56px;
}

.pain-card__cntnr {
    inline-size: 100%;
    max-inline-size: 1120px;
    text-align: left;
    border-radius: 24px;
    padding-inline: var(--padding-clamp32to16);
}

/* --------------- pain slider styles --------------- */
.pain-sliders__block {
    display: flex;
    flex-direction: column;
    align-items: center;
    inline-size: 100%;
    max-inline-size: 1120px;
    gap: 12px;
    padding-inline: var(--padding-clamp32to16);
}

.pain-sliders__intro {
    font-size: var(--font-size-18);
    font-weight: 500;
    color: var(--text-sec);
    text-align: center;
}

.pain-sliders__cntnr {
    inline-size: 100%;
    position: relative;

}

.pain-sliders__wrapper {
    display: flex;
    flex-direction: column;
    gap: 4px;
    overflow: hidden;
    mask-image: linear-gradient(to right, transparent, black 15%, black 85%, transparent);
    -webkit-mask-image: linear-gradient(to right, transparent, black 15%, black 85%, transparent);
}

.pain-slider {
    inline-size: 100%;
    block-size: 56px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    /* overflow: hidden; */
    will-change: transform;
}

.pain-slider__card {
    flex-shrink: 0;
    display: inline-flex;
    background-color: var(--off-white);
    inline-size: 260px;
    inline-size: var(--width-clamp260to180);
    block-size: 100%;
    align-items: center;
    justify-content: center;
    padding-inline: 24px;
    border-radius: 8px;
    border: 1px solid var(--text-sec);
    color: var(--text-sec-light);
    font-size: var(--font-clamp16to14);
}

.pain-point {
    font-size: var(--font-clamp48to32);
    color: var(--off-black);
    line-height: 1.2;
    letter-spacing: var(--heading-kern2);
}

.pain-point span {
    color: var(--text-sec-light);
}

/* --------------- solutions section styles --------------- */
.solutions-cntnr {
    display: flex;
    align-items: center;
    justify-content: center;
    inline-size: 100%;
    color: var(--off-white);
    padding-inline: var(--padding-clamp32to0);
}

.solutions-wrapper {
    inline-size: 100%;
    background: var(--off-black);
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    overflow: hidden;
}

.solutions-intro {
    inline-size: 100%;
    padding: var(--padding-clamp72to16);
}

.solutions-intro__heading-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}

.solutions-intro__heading {
    font-size: var(--font-size-sm);
    font-weight: 600;
    color: var(--accent-color2);
    position: relative;
}

.solutions-intro__heading::after {
    position: absolute;
    content: '';
    block-size: 2px;
    inline-size: 100%;
    background: var(--accent-color2);
    top: 100%;
    left: 0;
    transform: translateY(6px);
    border-radius: 100vh;
    animation: stretch-line 3s linear infinite;
}

@keyframes stretch-line {
    0% {
        transform: translateY(6px) scaleX(1);
        transform-origin: left;
    }

    25% {
        transform: translateY(6px) scaleX(0.01);
        transform-origin: left;
    }

    50% {
        transform: translateY(6px) scaleX(1);
        transform-origin: left;
    }

    50.01% {
        transform: translateY(6px) scaleX(1);
        transform-origin: right;
    }

    75% {
        transform: translateY(6px) scaleX(0.01);
        transform-origin: right;
    }

    100% {
        transform: translateY(6px) scaleX(1);
        transform-origin: right;
    }
}




/* --------------- rect text reveal effect styles --------------- */
.rectrev-paragraph {
    font-size: var(--font-clamp24to18);
    line-height: 1.3;
    color: var(--off-white);
    max-inline-size: 720px;
    text-align: left;
}

.word {
    line-height: 1.6;
    background-color: rgb(49, 49, 49);
    border-radius: 100vh;
    color: transparent;
    opacity: 0;
    /* Smooth transition for both the block appearing and the text revealing */
    transition: opacity 0.3s ease, background-color 0.5s ease, color 0.3s ease;
}

.word.block-in {
    opacity: 1;
}

.word.reveal-text {
    color: azure;
    background-color: transparent;
}


/* product showcase styles */
.product-showcase__block {
    inline-size: 100%;
    display: flex;
    align-items: start;
    justify-content: center;
    padding-inline: var(--padding-clamp16to8);
}

.product-showcase__cntnr {
    /* wraps the cards */
    inline-size: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: var(--padding-clamp16to8);
    padding-block: var(--padding-clamp16to8);
}

.product-ui__card {
    --breakpoint: 440px;
    background: rgb(29, 29, 29);
    padding: 4px;
    flex: 1 1 var(--breakpoint);
    border-radius: 12px;
}

.product-ui__illustration {
    block-size: 380px;
    /* background: red; */
}

.product-ui__description {
    display: flex;
    flex-direction: column;
    gap: 4px;
    padding: 16px;
}

.product-ui__title {
    font-size: var(--font-clamp24to18);
    /* font-weight: 500; */
    color: var(--off-white);
}

.product-ui__summary {
    font-size: var(--font-clamp16to14);
    /* font-weight: 600; */
    color: var(--text-sec-light);
}