.painpoints-section{
    gap: 56px;
    padding-inline: var(--padding-clamp32to16);
}

.test-svg{
    background: red;
}

.svg-wrapper{
    inline-size: 100%;
    display: flex;
    justify-content: center;
}

.pain-card__cntnr{
    inline-size: 100%;
    max-inline-size: 520px;
    text-align: left;
    padding: 56px;
    border-radius: 24px;
    box-shadow: 0px 5px 12px 2px rgba(32, 32, 32, 0.25);
    position: relative;
    background: var(--off-white)
}

.pain-card__cntnr::before,
.pain-card__cntnr::after{
    box-sizing: content-box;
    position: absolute;
    content: '';
    top: 50%;
    left: 50%;
    block-size: 100%;
    border-radius: 24px;
}

.pain-card__cntnr::before{
    inline-size: 95%;
    transform: translate(-50%, -58%);
    z-index: -1;
    background: rgb(236, 236, 236);
}

.pain-card__cntnr::after{
    inline-size: 90%;
    transform: translate(-50%, -64%);
    z-index: -2;
    background: rgb(245, 245, 245);
}

.pain-point{
    color: var(--text-sec);
    font-weight: 500;
    line-height: 1.4;
}

.pain-point span{
    color: var(--off-black);
}