:root {

    /* color styles */
    --off-black: hsl(240, 100%, 2%);
    --off-white: hsl(220, 100%, 99%);
    --text-sec: hsl(210, 2%, 84%);
    --text-sec-light: hsl(0, 0%, 59%);
    --text-sec-lighter: hsl(0, 0%, 29%);
    --text-sec-xtralight: hsl(0, 0%, 17%);
    --text-sec-xtralighter: hsl(0, 0%, 10%);
    /* --text-pri: hsl(0, 0%, 7%); */
    /* --text-sec: hsl(0, 0%, 27%); */

    --accent-color: hsl(234, 100%, 56%);
    /* --accent-color: rgb(108, 255, 23); */


    /* typography styles */
    --font-size-xs: 0.75rem;
    --font-size-sm: 0.875rem;
    --font-size-16: 1rem;
    --font-size-18: 1.125rem;
    --font-size-20: 1.25rem;
    --font-size-24: 1.5rem;
    --font-size-32: 2rem;
    --font-size-40: 2.5rem;
    --font-size-48: 3rem;
    --font-size-56: 3.5rem;
    --font-size-64: 4rem;
    --font-size-72: 4.5rem;


    /* responsive clamp typography styles 1440px screen to 320px screen*/
    --font-clamp16to14: clamp(0.875rem, 0.8393rem + 0.1786vw, 1rem);
    --font-clamp18to16: clamp(1rem, 0.9643rem + 0.1786vw, 1.125rem);
    --font-clamp20to16: clamp(1rem, 0.9286rem + 0.3571vw, 1.25rem);
    --font-clamp24to18: clamp(1.125rem, 1.0179rem + 0.5357vw, 1.5rem);
    --font-clamp32to20: clamp(1.25rem, 1.0357rem + 1.0714vw, 2rem);
    --font-clamp40to24: clamp(1.5rem, 1.2143rem + 1.4286vw, 2.5rem);
    --font-clamp48to32: clamp(2rem, 1.7143rem + 1.4286vw, 3rem);
    --font-clamp72to44: clamp(2.75rem, 2.25rem + 2.5vw, 4.5rem);
    --font-clamp72to32: clamp(2.75rem, 2.25rem + 2.5vw, 4.5rem);


    /* layout styles 1440px screen to 320px screen*/
    --padding-clamp32to16: clamp(1rem, 0.7143rem + 1.4286vw, 2rem);
    --padding-clamp32to8: clamp(0.5rem, 0.0714rem + 2.1429vw, 2rem);
    --padding-clamp72to16: clamp(2.25rem, 1.2143rem + 5.3571vw, 4.5rem);
    --cta-clamp120to60: clamp(3.75rem, 2.6786rem + 5.3571vw, 7.5rem);
    --border-clamp100to12: clamp(0.75rem, -0.8214rem + 7.8571vw, 6.25rem);
    --border-clamp100to20: clamp(1.25rem, -0.1786rem + 7.1429vw, 6.25rem);
    --width-clamp260to180: clamp(12.5rem, 11.4286rem + 5.3571vw, 16.25rem);


    /* kerning */
    --heading-kern: -2.5px;
    --heading-kern2: -1.8px;


    /* animation styles */
    --no-of-logos: 6;
}