@import url('https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap');

@import './modules/variables.css';
@import './modules/navbar.css';
@import './modules/hero.css';
@import './modules/painSection.css';
@import './modules/howItWorks.css';

* {
    padding: 0;
    margin: 0;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    font-family: 'Geist', sans-serif;
    block-size: 100%;
    /* scroll-behavior: smooth; */
}

body {
    min-block-size: 100vh;
    min-block-size: 100dvh;
    position: relative;
    /* background-color: var(--off-black); */
}

ul,
li {
    list-style: none;
}

a {
    text-decoration: none;
}

button {
    cursor: pointer;
    border: none;
    font: inherit;
}

.in-view {
    color: var(--off-white);
    font-weight: 600;
}

.content {
    transition: transform 0.15s ease-in 0.25s;
    text-shadow: 0px 52px var(--off-white);
}

.section {
    padding-block: var(--section-padding-clamp172to80);
    inline-size: 100%;
    display: flex;
    flex-direction: column;
}

.section-heading__block {
    inline-size: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding-inline: var(--padding-clamp32to16);
}

.section-heading {
    font-size: 44px;
    font-weight: 500;
    line-height: 1;
    letter-spacing: var(--heading-kern2);
}

.section-subheading {
    font-size: var(--font-clamp18to16);
}

.section-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    inline-size: 100%;
}